<div class="attendees-container">
  @if (attendees.length === 0) {
    <p class="no-attendees">
      No confirmed attendees yet
    </p>
  }

  <ul class="attendees-list">
    @for (attendee of attendees; track attendee) {
      <li class="attendee-item">
        <div class="attendee-info">
          <div class="attendee-name">{{ attendee.name }}</div>
          @if (attendee.email) {
            <div class="attendee-email">{{ attendee.email }}</div>
          }
        </div>
      </li>
    }
  </ul>
</div>